h1 {
  background-color: lightsteelblue;
}

h2 {
  background-color: lightsteelblue;
}

img, hero {
  width: 100%;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
}

a {
  text-size: 2rem;
  color: black;
  text-decoration: underline;
  text-underline: black;

  &hover {
    color: crimson;
    text-decoration: underline;
    text-underline: crimson;
  }
}

form {
  font: 10pt "Times New Roman";
  background-color: lightskyblue;
  padding: 10px;
}

label {
  width: 50px;
  display: inline-block;
  text-align: right;
  margin-right: 8px;
}

input[type=text], select {
  width: 350px;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #07d;
}

footer {
  width: 100%;
  background-color: orange;
  flex-wrap: wrap;
  align-content: center;
}

$font-type: Arial, sans-serif;
$font-color: black;
body {
  background-color: #dfedff;
  font-family: $font-type;
  color: $font-color;
}

.hero {
  align-content: center;
}

#banner {
  align-content: center;
}

#navLinks {
  font-size: 25px;
  align-items: center;
  align-content: center;
  align-self: center;
  alignment: center;
  child-align: middle;
}